0 10 * * * /home/trevor/scripts/update-dots.sh > /home/trevor/.log/update-dots.log
0 10 * * * /home/trevor/scripts/update-scripts.sh > /home/trevor/.log/update-scripts.log
0 10 * * SUN rm -rf /home/trevor/.cache
*/30 * * * * task sync
